AppWebZapateria/Connected Services/ServiciosZapateria/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61144/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61144/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61144/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Negocio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_IngresarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:IngresarProducto" />
  </wsdl:message>
  <wsdl:message name="IService1_IngresarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngresarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Validar_InputMessage">
    <wsdl:part name="parameters" element="tns:Validar" />
  </wsdl:message>
  <wsdl:message name="IService1_Validar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TraerTodo_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerTodo" />
  </wsdl:message>
  <wsdl:message name="IService1_TraerTodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerTodoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="IngresarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IngresarProducto" message="tns:IService1_IngresarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IngresarProductoResponse" message="tns:IService1_IngresarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Validar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Validar" message="tns:IService1_Validar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ValidarResponse" message="tns:IService1_Validar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TraerTodo" message="tns:IService1_TraerTodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TraerTodoResponse" message="tns:IService1_TraerTodo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IngresarProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/IngresarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validar">
      <soap:operation soapAction="http://tempuri.org/IService1/Validar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodo">
      <soap:operation soapAction="http://tempuri.org/IService1/TraerTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:61144/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>