AppWebZapateria/Connected Services/ServiciosZapateria/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61144/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Negocio" />
  <xs:element name="IngresarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="nombre_producto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="precio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IngresarProductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenna" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Negocio" minOccurs="0" name="TraerTodoResult" nillable="true" type="q1:ArrayOfProductoNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>