AppWebZapateria/Connected Services/ServiciosZapateria/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Negocio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Negocio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductoNegocio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductoNegocio" nillable="true" type="tns:ProductoNegocio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductoNegocio" nillable="true" type="tns:ArrayOfProductoNegocio" />
  <xs:complexType name="ProductoNegocio">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre_producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:int" />
      <xs:element minOccurs="0" name="ultima_modificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoNegocio" nillable="true" type="tns:ProductoNegocio" />
</xs:schema>